/node_modules
/package-lock.json
/package.json
/tailwind.config.js
site/css.css
site/index.html
site/dist/css.css
site/dist/index.min.css
site/dist/index.min.js
site/src/img/ai_comp.jpg
site/src/img/ai.jpg
site/src/img/bgviva_comp.png
site/src/img/cloud.jpg
site/src/img/contact-woman.jpg
site/src/img/favicon.svg
site/src/img/logoviva.svg
site/src/img/mobile.jpg
site/src/img/mockup01.jpg
site/src/img/sobre.jpg
site/src/img/tech.jpg
site.zip
